// Truncating
// eg: @include ellipsis(2em, 2);
@mixin ellipsis($max-height, $lines: 2) {
  overflow: hidden;
  max-height: $max-height;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  text-overflow: -o-ellipsis-lastline;
}
