//slick card CSS
.slick__card{
    width: 100%;
    height: auto;
    border: none;
    border-bottom: 1px solid var(--light-grey);

    @include respond-below(xs){
        width: 100%;
    }

    .slick__img{
        width: 100%;
        height: 143px;
        margin-bottom: 10px;
        filter: grayscale(30%);
    }

    .slick__card-body{
        width: 100%;
        height: auto;
        padding: 0px;

        @include respond-below(xs){
            padding-bottom: 20px;
        }

        .slick__title{
            width: 100%;
            height: auto;
            font-size: 14px;
            color: var(--title-red);
            text-transform: uppercase;
            margin: 16px 0 0;
        }
        .slick__text{
            width: 100%;
            height: auto;
            font-size: 15px;
            margin: 8px 0px 13px;
        }
        .slick__para{
            font-size: 13px;
            font-style: oblique;
            padding-left: 15px;
            padding-bottom: 13px;
            color: var(--light-gray);
        }
        .slick__link{
            width: 100%;
            height: auto;
            padding-right: 15px;
            border-right: 2px solid var(--light-gray);
            color: var(--link-blue);
        }
    }
}



//cards CSS
.posts__card-container{
    padding: 30px  150px 0 140px;

    @include respond-below(xs){
        padding: 0px 20px 30px;
        display: block !important;
    }

    .posts__header{
        padding-bottom: 2%;

        .title, 
        .description{
            padding-left: 12px;
        }


        .link{
            align-self: end;
        }

    }

    .hidden{
        display: none;
    }

    .posts__card-flex{
        width: 520px;
        height: auto;
        border: none;
        border-bottom: 1px solid var(--light-grey);
        padding-bottom: 25px;
        margin:0 0 30px 15px;
        color: var(--black);
        
        @include respond-below(xs){
            width: 100%;
            height: auto;
        }
        .posts__card-img{
            width: 154px;
            height: 118px;
            filter: grayscale(30%);

            @include respond-below(xs){
                max-width: 100px;
                height: 110px;
                padding-top: 15px;
            }
        }
        .posts__card-body{
            width: 100%;
            height: auto;
            padding: 0;
            padding-left: 30px;

            @include respond-below(xs){
                padding-left: 20px;
            }
    
            .posts__card-title{
                width: 100%;
                height: auto;
                font-size: 12px;
                color: var(--title-red);
                text-transform: uppercase;
            }
            .posts__card-text{
                width: 100%;
                height: auto;
                font-size: 18px;
                margin: 8px 0;

                @include respond-below(xs){
                    width: 200px;
                }
            }
            .posts__card-info{
                width: 100%;
                height: auto;
    
                .posts__card-para{
                    width: 100%;
                    font-size: 12px;
                    font-style: oblique;
                    padding-left: 15px;
                    color: var(--light-gray);
                }
                .posts__card-link{
                    width: 100%;
                    height: auto;
                    padding-right: 15px;
                    border-right: 2px solid var(--light-gray);
                    color: var(--link-blue);
                }
            }
        }
    }
}

//text-card CSS
.text__card{
    padding-left: 0;
    padding-right: 0;
    border: none;
    border-bottom: none;

    

    .text__card-title{
        width: 100%;
        height: auto;
        font-size: 12px;
        color: var(--title-red);
        text-transform: uppercase;
    }

    .text__card-text{
        width: 100%;
        height: auto;
        font-size: 15px;
        margin: 8px 0px;

        .hidden{
            display: none;
        }
    }

    .text__card-para{
        font-size: 12px;
        width: 100%;
        font-style: oblique;
        padding-left: 15px;
        color: var(--light-gray);
    }
    .text__card-link{
        width: 100%;
        height: auto;
        padding-right: 15px;
        border-right: 2px solid var(--light-gray);
        color: var(--link-blue);
    }
}
