.input{
    display: block;
    width: 350px;
    height: 63px;
    padding: 20px;
    text-transform: uppercase;
    font-size: 14px;
    border: 1.5px solid var(--light-grey);
    color: var(--light-grey);

    @include respond-below(xs){
        width: 100%;
    }
}