$dark: var(--dark);

.subscribe__container{
    margin: 0;
    padding: 10px 0 80px 0px;

    @include respond-below(xl){
        padding: 10px 0 80px 0px;
    }

    @include respond-below(lg){
        padding: 10px 0 80px 10px;
    }
    @include respond-below(md){
        padding: 0 80px;
        margin-bottom: 80px;
    }
    @include respond-below(xs){
        padding: 0 20px;
        margin-bottom: 50px;
    }

    .subscribe__text{
        width: 400px;
        height: auto;
        margin-left: 50px;

        @include respond-below(xs){
            margin-left: 0;
        }

        .subscribe__title{
            font-size: 30px;
            font-weight: bold;
            text-transform: uppercase;
            color: var(--dark);
            margin-bottom: 0px;
        }
        
        .subscribe__para{
            font-size: 16px;
            color: var(--icon);
        }
    }

    .subscribe__input{
        margin-left: 80px;

        @include respond-below(lg){
            margin-left: 0px;
        }
        @include respond-below(md){
            margin-left: 50px;
            margin-top: 20px;
        }

        @include respond-below(xs){
            margin-left: 0;
        }
    }
}
