h1,
h2,
h3,
h4,
h5,
h6,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    @extend %heading;
}

h1,
.h1 {
    font-size: rem(56px);
}

h2,
.h2 {
    font-size: rem(43px);
}

h3,
.h3 {
    font-size: rem(36px);
}

h4,
.h4 {
    font-size: rem(28px);
}

h5,
.h5 {
    font-size: rem(23px);
}

h6,
.h6 {
    font-size: rem(18px);
}

p {
    line-height: 1.3;
    margin-bottom: rem(25px);

    @include last-child() {
        margin-bottom: rem(0);
    }
}

strong,
b,
.text-bold {
    font-weight: bold;
}

a {
    @include links(
        $color-default-link,
        $color-default-link-visited,
        $color-default-link-hover,
        $color-default-link-active
    );
    @extend .transition--fast;
}

.lead {
    font-size: rem(20px);
}
