.about{
    .banner{
        margin: 70px 144px 35px 156px;

        @include respond-below(lg){
            margin: 70px 0 50px;
        }
    }

    .carousel__container{
        padding: 0px 110px 60px;
        .title{
            visibility: hidden;
            
        }
        .title:after{
            visibility: visible;
            display: block;
            content: 'Post by author';
        }

        @include respond-below(xs){
            padding: 0px 10px 60px;
        }
    }

    
}