.contact{
    max-width: 100%;
}
.contact__heading{
    border-bottom: 1px solid var(--light-grey);
    margin: 60px 145px 35px 150px;
    padding-bottom: 25px;

    @include respond-below(lg){
        margin: 60px 20px;
    }

    div{
        .contact__social-icons{
            color: var(--link-blue);
            font-size: 15px;
            padding-left: 730px; 
            
            @include respond-below(lg){
                padding-left: 50px;
            }

            i{
                margin-right: 15px;
            }
        }
    }
}

.contact__container{
    padding: 0 155px;

    @include respond-below(lg){
        flex-direction: column !important;
        padding: 0;
    }

    .contact__detail{
        font-size: 15px;
        width: 100%;

        @include respond-below(lg){
            width: 100%;
            padding: 0 20px;
        }

        .contact__address-icon{

            i{
                padding-top: 15px;
                margin-right: 15px;
            }
            
        }
        .contact__address,
        .contact__number,
        .contact__email{
            font-size: 15px;
            margin:10px 0px;

            i{
                margin-right: 15px;
            }
        }
    }

    .contact__form{
        margin-left: 15px;

        @include respond-below(lg){
            padding-top: 20px;
            margin: 0 30px;
        }

        div{
            @include respond-below(lg){
                flex-direction: column !important;
            }
        }
        
        input{
            width: 320px;
            margin-left: 30px;
            margin-bottom: 30px;
            font-size: 15px;
            color: var(--light-grey);
            text-transform: uppercase;
            padding: 18px;
            border: 1px solid var(--light-grey);

            @include respond-below(lg){
                margin-left: 0px;
                margin-bottom: 10px;
                
            }
        }

        .input__msg{
            width: 670px;
            height: 200px;
            padding: 18px 18px 170px;

            @include respond-below(lg){
                width: auto;
                margin-right: 0;
                
            }
        }

        .btn{
            align-self: flex-end;
            margin-bottom: 35px;

            @include respond-below(lg){
                align-self: center;
                margin-top: 20px;
                margin-bottom: 0;
            }
        }
    }
}

.contact__images{
    width: 1050px;
    height: 435px;
    margin: 5px 0px 0px 155px;

    @include respond-below(lg){
        width: 100%;
        height: auto;
        margin: 30px 0 0;
    }

    .contact__img{
        width: 100%;
        height: 375px;
        filter: grayscale(50%);
        object-fit: cover;

        @include respond-below(lg){
            width: 100%;
            height: auto;
        }

    }
}
