.contact__heading{
    border-bottom: 1px solid var(--light-grey);
    margin: 4% 11%;
    padding-bottom: 25px;

    @include respond-below(xs){
        margin: 4% 2%;
    }

    div{
        .contact__social-icons{
            color: var(--link-blue);
            font-size: 15px;
            padding-left: 745px; 
            
            @include respond-below(xs){
                padding-left: 50px;
            }

            i{
                margin-right: 15px;
            }
        }
    }
}

.contact__container{
    padding: 0 11%;

    @include respond-below(xs){
        flex-direction: column !important;
        padding: 0 2%;
    }

    .contact__detail{
        font-size: 15px;
        width: 700px;

        @include respond-below(xs){
            width: 100%;
        }

        .contact__address-icon{

            i{
                padding-top: 15px;
                margin-right: 15px;
            }
            
        }
        .contact__address,
        .contact__number,
        .contact__email{
            font-size: 15px;
            margin:10px 0px;

            i{
                margin-right: 15px;
            }
        }
    }

    .contact__form{

        @include respond-below(xs){
            padding-top: 20px;
        }

        div{
            @include respond-below(xs){
                flex-direction: column !important;
            }
        }
        
        input{
            width: 345px;
            margin-left: 35px;
            margin-bottom: 30px;
            font-size: 15px;
            color: var(--light-grey);
            text-transform: uppercase;
            padding: 18px;
            border: 1px solid var(--light-grey);

            @include respond-below(xs){
                margin-left: 10px;
                margin-bottom: 10px;
                
            }
        }

        .input__msg{
            width: 725px;
            height: 200px;
            padding: 18px 18px 170px;

            @include respond-below(xs){
                width: auto;
                margin-right: 5px;
                
            }
        }

        .btn{
            align-self: flex-end;
            margin-bottom: 35px;

            @include respond-below(xs){
                align-self: center;
                margin-top: 20px;
                margin-bottom: 0;
            }
        }
    }
}

.contact__images{
    width: 1052px;
    height: 400px;
    margin: 1% 11% 5%;

    @include respond-below(xs){
        width: 100%;
        height: auto;
        margin: 30px 0;
    }

    .contact__img{
        width: 100%;
        height: 100%;
        filter: grayscale(50%);
    }
}
