.notfound{
    max-width: 100%;
}
.notfound__container{
    padding: 40px 0 0px 130px;
    margin-bottom: 80px;

    @include respond-below(lg){
        flex-direction: column !important;
        padding: 20px;
        margin-bottom: 0;
    }

    .notfound__imgContainer{
        width: 700px;
        height: 600px;
        margin-right: 50px;
        object-fit: cover;

        @include respond-below(lg){
            width: 100%;
            margin-right: 0;
        }

        .notfound__img{
         width: 100%; 
         height: 100%;  
        }
    }

    .notfound__msg{
        align-self: flex-end;
        padding-bottom: 80px;

        @include respond-below(xs){
            width: 100%;
            height: auto;
            padding-top: 20px;
        }

        .title{
            color: var(--link-pink);
            text-transform: unset;
            margin-bottom: 15px;
            text-transform: uppercase;
            
        }
        .description{
            width: 510px;
            font-size: 15px;
            margin-bottom: 45px;

            @include respond-below(xs){
                width: 100%;
            }
        }
    }
}