.post{
    max-width: 100%;
    .banner{
        margin: 70px 144px 40px 156px;

        @include respond-below(lg){
            margin: 70px 0 40px 0;
        }
    }
    .post__heading{
        border-bottom: 1px solid var(--light-grey);
        padding-bottom: 20px;
        margin: 0 150px;

        @include respond-below(lg){
            margin: 0 20px;
        }
    }

    .picture__card1-bg{
        width: 100%;
        height: 400px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('.././images/image3.jpg');
        background-size: cover;
        padding-top: 40px;

        .post__featured{
            width: 160px;
            height: auto;
            background-color: var(--link-pink);
            font-size: 12px;
            font-weight: bold;
            color: white;
            text-transform: uppercase;
            padding: 10px 0 7px 12px;
        }

        .post__shareinfo{
            margin-top: 234px;
            width: 600px;
            background-color: white;
            padding-top: 20px;

            .post__share-icon{

                .title{
                    text-transform: initial;
                    font-size: 18px;
                    color: var(--black);
                    font-weight: bold;
                    padding: 5px;
                }
                i{
                    font-size: 15px;
                    color: blue($color: #000000);
                    padding: 10px;
                }
            }
        
            .post__textCard{
            
                .post__card-para{
                    font-size: 12px;
                    width: 180px;
                    font-style: oblique;
                    color: var(--light-gray);
                    border-right: 2px solid var(--light-gray);
                    margin-right: 15px;
                }
                .post__card-link{
                    width: 100%;
                    height: auto;
                    font-size: 12px;
                    font-style: oblique;
                    padding-right: 15px;
                    color: var(--link-blue);

                    i{
                        color: var(--black);
                        padding-right: 10px;
                        font-size: 15px;
                    }
                }
            }
        }
    }

    .post__para{
        width: 100%;
        height: auto;
        font-size: 15px;
        margin-top: 30px;

        @include respond-below(lg){
            padding: 0;
        }

        @include respond-below(xs){
            padding: 0 20px;
            width: 100vw;
        }

        p{
            line-height: 150%;
        }

        .post__quotes{
            margin-top: 20px;

            i{
                padding-right: 10px;
            }
        }

        .post__para-img{
            margin: 30px 0;

            @include respond-below(lg){
                flex-direction: column !important;
            }

            img{
                width: 250px;
                height: 150px;
                margin-right: 30px;
                object-fit: cover;

                @include respond-below(lg){
                    margin-bottom: 20px;
                }
            }
        }

        ul{
            margin: 20px 0;
            padding-left: 20px;

            li{
                line-height: 200%;
            }
        }

    }

    .posts__tag{
        color: white;      

        span{
            background-color: var(--background-blue);
            font-size: 15px;
            font-weight: bold;
            padding: 5px 20px;

            @include respond-below(lg){
                width: 33.33%;
            }
            
        }
        i{
            font-size: 12px;
           
        }
    }
}

.post__container{
    
    @include respond-below(lg){
        flex-direction: column !important;
        align-items: center;
    }

    .post__mainBlog{
    width: 700px;
    height: auto;
    margin: 3% 0 3% 11%;

    @include respond-below(lg){
        margin: 50px;
        align-self: center;
    }
    @include respond-below(xs){
        margin: 10px;
        margin-left: 337px;
    }

    .post__mainBorder{
        padding-bottom: 50px;
        border-bottom: 1px solid var(--light-grey);
    }

    .post__arrow{
        border-bottom: 1px solid var(--light-grey);
        padding-bottom: 20px;

        .link{
            padding-left: 0;
            text-transform: uppercase;
            
            @include respond-below(xs){
                margin-right: 177px !important;
            }

            i{
                padding-left: 0;
                padding-right: 10px;
            }
        }
    }
    }

    .post__flex2{
        
        
        .post__card2{
            margin: 0px 0 0 15px;

            .title{
                font-size: 20px;
                margin: 0 0 0 12px;
            }

            .text__card{
                width: 300px;
                padding-top: 12px;
                padding-bottom: 3px;
                border-bottom: 1px solid var(--light-gray);
            
                .text__card-tittle{
                    margin: 0;
                }
                .text__card-text{
                    width: 300px;
                    padding-bottom: 6px;
                

                    .active{
                        display: none;
                    }
                    .hidden{
                        display: block;
                    }
                }
            }
        }

        .trending__categoryInfo{
            padding: 45px 0 0 22px;
        }

        .smallbanner__mainContainer{
            padding: 45px 0 0 30px;
            
            .smallbanner{
                margin-right: 30px;
            }
        }

        .latest-tweet{
            margin: 25px 0 0 30px;

            
        }
        
    }
}