.home__second{

    .carousel__container{
        padding: 35px 110px 0;

        @include respond-below(xs){
            padding: 30px 10px;
        }
    }
    .banner{
        margin: 50px 140px 35px 156px;

        @include respond-below(xs){
            margin: 30px 0;
        }
    }
    .posts__card-container{
        padding: 0  150px 20px 140px;

        @include respond-below(xs){
            padding: 30px 10px;
        }
    }
}