.blog2{
    .posts__header-container{
        display: none !important;
    }

    
    .blog__flex1{
        margin: 0;
        padding: 2% 2.6%;

        @include respond-below(lg){
            width: 100%;
            height: auto;
        }

        .picture__card1-bg{
            margin: 20px 0 20px 120px;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('.././images/image3.jpg');
            background-size: cover;
            padding-top: 25px;

            @include respond-below(lg){
                margin: 0;
            }

            .blog__featured{
                width: 160px;
                height: auto;
                background-color: var(--link-pink);
                font-size: 12px;
                font-weight: bold;
                color: white;
                text-transform: uppercase;
                padding: 10px 0 7px 12px;
            }

            .text__description{
                color: white;
                width: 600px;
                padding: 190px 40px 20px ;
                font-size: 18px;
            }

            .text__card{
                padding: 0 40px 30px;
            }
    
        }

        .posts__card-container{
            width: 815px;
            height: auto;
            padding: 20px 0 20px 100px;

            @include respond-below(lg){
                padding: 30px 0 0;
            }

            .hidden{
                display: inline-flex;
            }

            .posts__card-flex{
                width: 330px;
                height: auto;
                padding: 0;
                padding-bottom: 20px;
                margin: 0 0 30px 15px;

                .posts__card-img{
                    width: 110px;
                    height: 70px;
                    padding-top: 2px;
                    filter: grayscale(30%);
                }
    
                .posts__card-body{
                    padding: 0 0 0 20px;
    
                    .posts__card-title{
                        font-size: 10px;
                    }
                    .posts__card-text{
                        font-size: 13px;
                    }

                    .posts__card-info{

                        .posts__card-para{
                            font-size: 10px;
                        }
                    }
                }
            }
        }

        .btn{
            margin-bottom: 25px;
        }
        
    }
    
    
}
