.home__third{

    .carousel__container{
        padding: 30px 110px 0;

        .title,
        .description{
            display: none;
        }

        @include respond-below(xs){
            padding: 10px 0;
        }
    }

    .display{
        height: auto;
        padding: 225px 0 65px 60px;
        margin: 50px 155px 0;

        @include respond-below(xl){
            margin: 50px 115px 0;
        }
        @include respond-below(lg){
            margin: 50px 85px 0;
        }
        @include respond-below(md){
            margin: 50px 65px 0;
        }
        @include respond-below(xs){
            margin: 50px 0 0;
            padding: 225px 30px 65px;
        }
    }

    .picture__card{
        padding: 30px 145px 0 155px;

        @include respond-below(xl){
            padding: 30px 100px 0;
        }
        @include respond-below(lg){
            padding: 30px 70px 0;
        }
        @include respond-below(md){
            padding: 30px 50px 0;
        }
        @include respond-below(xs){
            padding: 0 0 40px;
        }
    }

    .slick__img{
        display: none;
    }

    .banner{
        margin-top: 15px;
    }
}