.blog{

    .banner{
        margin: 70px 144px 35px 156px;

        @include respond-below(xs){
            margin: 50px 0 40px;
        }
    }

    .blog__heading{
        border-bottom: 1px solid var(--light-grey);
        padding-bottom: 20px;
        margin: 0 150px;

        @include respond-below(xs){
            margin: 0 10px;
        }
    }

    .blog__flexContainer{
        @include respond-below(xs){
            display: block !important;
        }
        
    }

    .posts__card-container{
        padding: 30px 0 0 95px;

        @include respond-below(xs){
            padding:  0;
        }
    }

    .blog__flex1{
        padding: 15px 0px 0;
        margin: 0 20px 0 50px;

        @include respond-below(xs){
            padding: 0;
            margin: 0;
        }

        .posts__card-flex{
            width: 695px;
            height: auto;
            padding: 0;
            padding-bottom: 25px;

            @include respond-below(xs){
                padding-top: 30px;
            }
            
            .posts__card-body{
                padding: 0px 30px 12.5px;

                .posts__card-text{
                    font-size: 15px;
                }
            }
        }
        .btn{
            margin-left: 370px;
        }
    }
    
    .blog__flex2{
        margin-top: 50px;

        @include respond-below(xs){
            margin-top: 0px;
            margin-left: 30px;
        }
    
        .blog__search-box{
            width: 315px;
            height: auto;
            padding-left: 0;
            background-color: var(--light-grey);
            margin-bottom: 40px;

        
            input{
                width: 265px;
                height: auto;
                padding: 12px;
                border: white;
                font-size: 15px;
                background-color: var(--light-grey);
                font-style: oblique;
            }

            i{
                color: var(--icon);
                font-size: 18px;
            }
        }

        .trending__categoryInfo{
            margin-bottom: 30px;
        }

        .smallbanner__container{
            margin-bottom: 30px;
        }
    }

    .carousel__container{
        padding: 0px 110px 40px;

        @include respond-below(xs){
            padding: 0 20px 40px;
        }
        .title{
            visibility: hidden;
            
        }
        .title:after{
            visibility: visible;
            display: block;
            content: 'Related Posts';
        }
        .slick__img{
            display: none;
        }
    }
}