.#{$global} {
    &-footer {
        background-color: var(--black);
        color: var(--menu-text);
    }
}


.footer__imgContainer{
    padding: 0 !important;

    .footer__imgholder{
        width: 12.5%;
        height: auto;

        img{
            width: 100%;
            height: auto;
            filter: grayscale(30%);
        }
    }

}

.footer__infoContainer{
    width: 100vw;
    height: auto;
    padding: 65px 0 60px 160px;

    @include respond-below(xl){
        padding: 80px;
    }
    @include respond-below(lg){
        padding: 60px;
        padding-left: 100px;
    }

    @include respond-below(sm){
        padding: 30px;
        padding-left: 30px;
    }
    .footer__companyInfo{
        max-width: 250px ;
        height: auto;

        @include respond-below(lg){
            height: 200px;
            margin-right: 180px;
        }

        @include respond-below(sm){
            height: auto;
            margin-right: 0;
            margin-bottom: 20px;
        }

        .logo{
            padding-bottom: 15px;
        }

        .footer__address-icon{
            font-size: 15px;
            margin:10px 0px;
            i{
                padding-top: 8px;
                margin-right: 15px;
            }
            
        }

        .footer__address,
        .footer__number,
        .footer__email{
            font-size: 15px;
            margin:10px 0px;

            i{
                margin-right: 10px;
            }
        }
    }

    .footer__postInfo{
        max-width: 350px;
        margin: 0px 25px 0 110px;

        @include respond-below(lg){
            padding: 0px 15px;
            margin: 0;
        }

        @include respond-below(sm){
            margin-bottom: 20px;
        }

        .footer__title{
            font-size: 20px;
            font-weight: bolder;
            padding-bottom: 15px;
        }

        .text__card{
            background-color: var(--black);
            height: 90px;
            
            .card-body{
                padding: 0;
            }
        }
    }

    .footer__trendingInfo{
        max-width: 350px;
        padding: 5px 0 0;

        @include respond-below(lg){
            padding-left: 10px;
            margin-top: -115px;
        }

        @include respond-below(md){
            margin-top: -205px;
        }

        @include respond-below(sm){
            margin-top: 0px;
        }
    }
    }

.footer__copyrightInfo{
    background-color: var(--header-bg);
    padding: 25px;
    font-size: 15px;
    text-align: center;
}