.#{$global} {
    &-header {
        width: 100%;
        height: auto;
        background-color: var(--header-bg);
        color: var(--white);
        text-transform: uppercase;
        padding: 12px;
        margin: 0px;
    }
}

.header__container{

    @include respond-below(sm){
        flex-direction: column !important;
        align-items: center;
    }

    .icon{
        width: max-content;
        height: auto;
        padding: 0px 35px;
        margin: 0px;

        @include respond-below(xl){
            padding: 0;
        }

        @include respond-below(lg){
            padding: 0;
        }
        @include respond-below(sm){
            padding: 0px;
            
        }
        
        i{
            color: var(--icon);
            font-size: 14px;
            margin-right: 12px;
        }   
    }

    .logo{
        padding: 0;
        width: max-content;
        height: auto;
        padding: 0 297px;

        p{
            font-size: 27px;
            font-weight: 900;
            
            span{
                margin-left: 5px;
            }
        }
        @include respond-below(xl){
            padding: 0 297px;
        }
       @include respond-below(lg){
           padding: 0px 150px;
       }
       @include respond-below(md){
           padding: 0 60px ;
        }
        @include respond-below(sm){
            padding: 0px; 
        }
    }

    .search-box{
        align-self: flex-end;
        color: var(--icon);
        padding-bottom: 7px;


        @include respond-below(sm){
            align-self: center;
        }

        i{
            font-size: 18px;
        }
    
        input{
            width: 95px;
            background-color: var(--header-bg);
            border: white;
            font-size: 15px;
        }

    }
}








